body {
  background-image: linear-gradient(-105deg, #1c407c 0, #0c2444 62%);
  color: #ffeeee;
  min-height: 100vh; }

section.container {
  padding: 50px 0; }
  section.container h1, section.container h2, section.container h3, section.container h4 {
    font-family: 'Lato', sans-serif; }
  section.container h4 {
    color: #007bff;
    font-size: .9em; }
  section.container p {
    font-family: 'Slabo 27px', sans-serif; }

/*# sourceMappingURL=main.css.map */
