@import 'colors';

body {
  background-image: linear-gradient(-105deg, $lightBlue 0, $darkBlue 62%);
  color: $textColor;
  min-height: 100vh;
}

section.container {
  padding: 50px 0;

  h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
  }

  h4 {
    color: #007bff;
    font-size: .9em;
  }

  p {
    font-family: 'Slabo 27px', sans-serif;
  }
}
